<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BullsCows</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', path='/css/main.css')}}">
    </head>
    <body>
    <div class="fon">


    <div class="wrapper">
        <div class="header">
        <header >

        <img class="bull_head" src="static/images/cow-head-right.png" alt="#">
        <h1 class="header_text"> Guess the number </h1>
        <img class='cow_head' src="static/images/cow-head.png" alt="#">
        </header>
        </div>
        <div class="game_block">

        <div class="game">
         <h3 class="game_header">Input your 4-digit number <br/>
             (without 'zero' and 'doubles')</h3>
            <div class="form">
        <form action="" onsubmit="sendMessage(event)">
            <input  class="input" type="text" id="messageText" autocomplete="off"/>
            <button class="button_send">Send your try</button>
        </form>
            </div>
            <div class="buttons">
    <button class="give_up" onclick="give_up()">give up</button>
    <button class="new_game" onclick="new_game()">new game</button>
            </div>
            <br>
            <br>
            <div class="table_try">
        <table class ='inner_table'>
            <tr>
                <th>Player try</th>
                <th>Bulls</th>
                <th>Cows</th>
            </tr>
            <tbody id="myTable">
            </tbody>
        </table>
            </div>
            <div>
                    <p class="message" id="message">
                    </p>
                </div>
    </div>
<div class="game_rules">
    <div  class="rules_header"> Game Rules </div>
    <div class="rules_text">
        <p>You must guess the riddled four-digit number.
            No zero used and no number used twice.
            After you send your try, you'll get an answer with two digits.
            First - quantity of numbers, that are in riddled number.
            Second means, how many of them are on a proper place.
        </p>
    <div class="example">Example: </div>
    <div>  Riddled number is 8231. Your try is 1234. So you will get answer:
        <div class="example_table">
    <table class="inner_table">
        <tr>
            <td class="player_try"> player try </td>
            <td> bulls </td>
            <td> cows </td>
        </tr>
        <tr>
            <td class="player_try"> 1234 </td>
            <td> 3 </td>
            <td> 2 </td>
        </tr>
    </table>
        </div>
            Now you will know that overall you guessed <b>3 </b>(bulls) numbers (<b>123</b>-4) and <b>2</b> (cows)
        of them are on proper place (1-<b>23</b>-4)

        </div>
</div>
            </div>
            </div>
        <script src='static/js/main.js'>

        </script>
        <footer>
    2023 р.
</footer>
    </div>
    </div>
    </body>

</html>